<div>
<app-top-bar></app-top-bar> 
<app-dropdown></app-dropdown>
<div class="content" >
 
  <app-apps-grid (openModalEvent)="openModal($event)"></app-apps-grid>
</div>

</div>

<app-modal [showModal]="showModal" (closeModalEvent)="closeModal()">
  <img width="400" height="150" class="image/webp"
  src="{{ selectedApp?.url}}"  >
  <hr> 
  <div class="modal-container">
    
    <div class="app-info">
      
      <div class="app-image">
        <img *ngIf="selectedApp?.imagen" [src]="selectedApp?.imagen" alt="{{ selectedApp?.nombre }}" />
      </div>
     
      <div class="app-details">
        <p><b> {{ selectedApp?.nombre }}</b> </p>
        <p>{{ selectedApp?.dev }}</p>
        <p>{{ selectedApp?.descripcion }}</p>
        <p> <b>{{ selectedApp?.precio < 0.5 ? 'FREE' : '$' + selectedApp?.precio.toFixed(2) }}</b></p>
      </div>
    </div>
</div>
<hr> 
<div class="rating">
  <span *ngFor="let i of [1, 2, 3, 4, 5]" class="star" [ngClass]="{ 'filled': i <= selectedApp?.calificacion }">
    <i [ngClass]="i <= selectedApp?.calificacion ? 'fas fa-star' : 'far fa-star'"></i>
  </span>
</div>
<hr>
    <!-- Botón de cerrar -->
    <button class="btn-close" (click)="closeModal()">Cerrar</button>
  
</app-modal>