<div>
<app-top-bar></app-top-bar> 

<div class="content" >
  <div class="filter-container">
    <label for="categorySelect">Filtrar por categoría:</label>
    <!--select-->
    <select [(ngModel)]="selectedCategory" (ngModelChange)="onCategorySelect($event)">  
      <option value="0">Todas</option>    
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
<!--select-->
  </div>
  
  <app-apps-grid [selectedCategory]="selectedCategory" (openModalEvent)="openModal($event)"></app-apps-grid>
</div>

</div>

<app-modal [showModal]="showModal" (closeModalEvent)="closeModal()">
  <img width="400" height="150" class="image/webp"
  src="{{ selectedApp?.url}}"  >
  <hr> 
  <div class="modal-container">
    
    <div class="app-info">
      
      <div class="app-image">
        <img *ngIf="selectedApp?.imagen" [src]="selectedApp?.imagen" alt="{{ selectedApp?.nombre }}" />
      </div>
     
      <div class="app-details">
        <p><b> {{ selectedApp?.nombre }}</b> </p>
        <p>{{ selectedApp?.dev }}</p>
        <p>{{ selectedApp?.descripcion }}</p>
        <p> <b>{{ selectedApp?.precio < 0.5 ? 'FREE' : '$' + selectedApp?.precio.toFixed(2) }}</b></p>
      </div>
    </div>
</div>

<div class="rating">
  <span *ngFor="let i of [1, 2, 3, 4, 5]" class="star" [ngClass]="{ 'filled': i <= selectedApp?.calificacion }">
    <i [ngClass]="i <= selectedApp?.calificacion ? 'fas fa-star' : 'far fa-star'"></i>
    
  </span>
  <b  >   &nbsp;  {{selectedApp?.calificacion }}</b> 
</div>

<div class="user-comments" *ngIf="selectedApp?.comentarios?.length">
 
  <div *ngFor="let comentario of selectedApp?.comentarios" class="user-comment">
    <div class="user-avatar">
      <i class="fa fa-user"></i>
    </div>
    <div class="user-details">
      <p><strong>{{ comentario.usuario }}</strong></p>
      <p>{{ comentario.comentario }}</p>
    </div>
  </div>
</div>
<div class="buttons">
  <button class="btn-cancel" (click)="closeModal()">Cancelar</button>
  <button *ngIf="!selectedApp?.instalado" class="btn-install">Instalar</button>
</div>
  
</app-modal>