
.apps-grid {
    display: flex;
    justify-content: center; 
    width: 75%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50%;
   
    padding: 50px;
    text-align: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .col {
    flex: 0 0 calc(16.6667% - 20px); 
    margin: 10px;
    max-width: 200px; 
  }
  
  .card {
    background-color: #f1f1f1;
    border-color: black;
    padding: 10px;
    text-align: center;
  }
  .card.selected {
    
    background-color: #ff9900; 
    color: #fff;
  }
  
  .modal {
   
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
  }
  .app-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .app-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .developer-name {
    font-size: 14px;
    color: #666;
  }
  
  .rating {
    display: flex;
    justify-content: center; 
    margin-bottom: 10px;
  }
  .star {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
  .star i {
    font-size: 20px;
  }
  
  .star.filled i {
    color: #ff9900; 
  }
  
  .star i.fas {
    
    -webkit-text-stroke: 1px #ff9900; 
    text-shadow: 1px 1px 1px #ff9900; 
  }
  
  .star i.far {
   
    -webkit-text-stroke: 1px #ff9900; 
    color: transparent; 
  }
  .app-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
       font-size:80px;
       }
       
       .link_404{      
  color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
  .contant_box_404{ margin-top:-50px;}